.image-container {
    background-image: url("../images/acceuil.jpg"); /* The image used - important! */
    background-size: cover;
    position: relative; /* Needed to position the cutout text in the middle of the image */
    height: 300px; /* Some height */
  }
  
  .texte {
    background-color: white;
    color: black;
    font-size: xx-large; /* Responsive font size */
    font-family:'American Typewriter', serif;
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
  }
  
  .nav_bar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #000000;
    padding-left: 3%;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  
  .nav_bar a {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 12px;
  }
  
  .nav_bar a:hover {
    background-color: rgb(65, 62, 62);
    color: rgb(255, 255, 255);
    padding: 12px;
  }


  .foot {
    background-color: black;
    height: auto;
    width: auto;
    font-family:'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  
  .lien{
    color: white;
    text-decoration: none;
  }

  #scrollUp
  {
  position: fixed;
  bottom : 10px;
  right: -100px;
  opacity: 0.8;
  }