body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("../images/panier_background.jpg");
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 60px;
    text-align: center;
    color: rgb(8, 1, 1);
    font-size: 60px;
  }
  
  /* Contenu de la page */
  .contenu {padding:40px;}
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #040b70;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius:10%/50%;
  }
  
